html, body, #scene-wrapper, canvas {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent !important;
  overflow: hidden; // Prevent scrollbars on the whole page
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
}

.scene-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;   // Adjust as needed
  height: 600px;  // Adjust as needed
  box-shadow: 0 0 32px #000;
  border-radius: 12px;
  overflow: hidden;
  max-width: 100vw;
  max-height: 100vh;
  background: transparent !important;
}